<footer>
  <div class="container">
    <div class="row">
      <div class="footer_logo">
        <a href="/">Changeit</a>
      </div>
      <div class="footer_made">Writed by Abdullayev Bobur</div>
    </div>
  </div>
</footer>