<nav>
    <div class="container">
        <div class="row">
            <div class="logo">
                <a href="/">Kundalik.com</a>
            </div>
            <div class="menu">
                <ul>
                    <li class="menu_item"><a href="/">All</a></li>
                    <li class="menu_item"><a href="#">1-month</a></li>
                    <li class="menu_item"><a href="#">2-month</a></li>
                    <li class="menu_item"><a href="#">3-month</a></li>
                    <li class="menu_item"><a href="#">5-month</a></li>
                    <li class="menu_item"><a href="#">7-month</a></li>
                    <li class="menu_item"><a href="/people/add">Add people</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>